body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f5dc;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 0;
}

.photo {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 180px;
    border-radius: 100px;
    box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
    object-fit: cover;
}

.photo:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

h3 {
    margin-bottom: 20px;
}

h3,
h4 {
    text-align: center;
}

.txt {
    color: blue;
}

.txt:hover {
    color: darkgrey;
    cursor: pointer;
}

.item {
    justify-content: center;
    width: 100%;
    text-align: center;
}

.item-mob {
    display: none;
}

.page {
    display: flex;
    justify-content: center;
    box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.52);
}

.left-part {
    width: 30%;
    background-image: linear-gradient(to bottom right, #f5f5dc, #f0f8ff);
}

.title {
    width: 66%;
    padding-left: 15px;
    background-image: linear-gradient(to bottom left, #f5f5dc, #f0f8ff);
}

.summary {
    display: inline-block;
}

.contact-links>ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: 500;
}

.project-links>ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: 500;
}

.links {
    display: flex;
    flex-direction: column;
}

.ITWPro,
.G5Games,
.solvery {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border-bottom-style: none;
    border-width: 0.5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left-style: none;
    border-width: 0.5px;
    box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
    padding-right: 15px;
}

.ITWPro:hover {
    transform: scale(1.01);
    transition: transform 0.3s;
}

.G5Games:hover {
    transform: scale(1.01);
    transition: transform 0.3s;
}

.solvery:hover {
    transform: scale(1.01);
    transition: transform 0.3s;
}

.date1,
.date2,
.date3 {
    width: 40%;
    padding-left: 15px;
}

.ITWPro1,
.G5Games1,
.solvery1 {
    width: 59%;
}

.button {
    text-align: center;
    margin-top: 50px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
}

button:hover {
    background-color: grey;
    color: white;
}

.about {
    display: none;
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
    margin-inline: 20px;
    margin-top: 20px;
}

.about:hover {
    transform: scale(1.01);
    transition: transform 0.3s;
}

li {
    list-style-type: none;
}

.drop_list,
.menu,
.menu1 {
    display: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list p {
    margin-top: 0;
    padding-top: 0;
}

.menu li {
    margin: 3px;
    padding: 3px;
}

.drop_list li {
    margin: 3px;
    padding: 3px;
}

.list:hover .drop_list,
.menu {
    display: block;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
    z-index: 1;
}

.menu {
    box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.52);
}

.menu:hover .menu1 {
    display: block;
    position: relative;
}

.footer-main {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 40%;
    text-align: center;
}

.pict-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59%;
}

.pict {
    width: 40px;
    margin-inline: 20px;
    border-radius: 5px;
}

.pict:hover {
    transform: scale(1.5);
    transition: transform 0.5s;
    box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
    border-radius: 30px;
}

@media (max-width: 800px) {
    body {
        background: none;
    }

    h1,
    h2,
    h3 {
        text-align: center;
    }

    .item-mob {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .button {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .page {
        display: flex;
    }

    .main,
    .page {
        flex-direction: column;
        background: none;
        position: relative;
    }

    .left-part,
    .title {
        width: 93%;
        background: none;
    }

    .about {
        padding-left: 50px;
        margin-bottom: 50px;
    }

    .item {
        display: none;
    }

    .page {
        display: flex;
        flex-flow: wrap;
    }

    .left-part {
        order: 2;
    }

    .title {
        order: 1;
        margin-right: 20px;
    }

    .row {
        display: none;
    }

    .pict {
        margin-inline: 10px;
    }
}